.mushroom-box {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.mushroom-box--header {
  text-align: center;
  border-bottom: 1px solid #bdbdbd;
}
.mushroom-box--button {
  text-align: center;
  margin-top: 20px !important;
}
